/*
=========
CSS Reset
=========
*/

	*,
	*::before,
	*::after{
		box-sizing: border-box;
	}
	
	html, body,
	div,
	h1,h2,h3,
	p, 
	ul,ol,li,
	form,
		label,input,textarea,
		output,meter,progress,
		fieldset,legend,
	button{
		margin: 0;
		padding: 0;
	}
	
	li ul,
	li ol{
		padding: 0 0 0 2em;
	}
	
	a,button,input[type="button" i],
	input[type="radio" i],input[type="checkbox" i],
	select{
		cursor: pointer;
	}
	
	form,
	label,
	input,
	textarea,
	output,
	meter,
	progress,
	fieldset,
	legend,
	select{
		display: block;
		width: 100%;
		font: inherit;
	}
	
	button{
		font-family: inherit;
	}
	
	fieldset{
		border: none;
	}
	
	textarea{
		resize: vertical;	/*Enable resizing*/
	}
	
	input[type="radio" i],
	input[type="checkbox" i]{
		/*
		Note: 
		by adding i at the end of the attribute selector 
		we make it more robust, since it will match in a 
		case-insensitive way. 
		For example 
			input[type="radio" i] 
		matches 
			"radio", "Radio", "RADIO", etc.
		*/
		display: inline-block;
		width: auto;
	}
