/*
=========
CSS Reset
=========
*/

	*,
	*::before,
	*::after{
		box-sizing: border-box;
	}
	
	html, body,
	div,
	h1,h2,h3,
	p, 
	ul, ol, li{
		margin: 0;
		padding: 0;
	}
	
	li ul,
	li ol{
		padding: 0 0 0 2em;
	}
	
	a, button{
		cursor: pointer;
	}

